HW5/q2_n8n_workflow/workflow.json
{
  "name": "HW5-Q2-MVP-Webhook-Summarize",
  "nodes": [
    {
      "parameters": {
        "path": "hw5-summary",
        "httpMethod": "POST",
        "responseMode": "lastNode"
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "text",
              "name": "text",
              "value": "={{$json.body.text}}",
              "type": "string"
            }
          ]
        }
      },
      "id": "Set",
      "name": "Set Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "completion",
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "你是助理，請把使用者提供的內容做成繁體中文的重點摘要（5 點）+ 一句結論。"
            },
            {
              "role": "user",
              "content": "={{$json.text}}"
            }
          ]
        }
      },
      "id": "OpenAI",
      "name": "OpenAI Summary",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 3,
      "position": [
        760,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Input": {
      "main": [
        [
          {
            "node": "OpenAI Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}